@media screen and (min-width: 760px) {

/*******************************
Header & Navigation
********************************/

.mobile-menu img {
  display: none;

}

nav {
	text-align: right;


}

.menu-list{
  display: inline-block;
  position: relative;

}

nav ul li {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    display: inline-block;
}


nav ul li a {
    text-decoration: none;
    color: #000;
    text-align: center;
    display: block;
    padding: 10px;
    margin-right: 20px;
  }

  #sitemap {
    display: none;
  }

}
@media screen and (min-width: 1060px) {

		#portfolio, #connect, #footer {

    margin: 150px 0 100px;

}

 	/*******************************
	About
	********************************/

	h1 {
	font-size: 4.25em;
  margin: 0 auto -20px;
  max-width: 600px;
}

	.profile-photo {
  float: left;
  width: 25%;
	margin: 0px 80px 80px 7%;

}

.intro {
	max-width: 780px;
	padding-top: 40px;

}
#about {
	padding-bottom:0px;
}


}