@media screen and (min-width: 660px) {

/*******************************
Header & Navigation
********************************/

.mobile-menu img {
  display: none;

}

nav {
	text-align: right;


}

.menu-list{
  display: inline-block;
  position: relative;

}

nav ul li {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    display: inline-block;
}


nav ul li a {
    text-decoration: none;
    color: #000;
    text-align: center;
    display: block;
    padding: 10px;
    margin-right: 20px;
  }

  #sitemap {
    display: none;
  }

}
@media screen and (min-width: 1060px) {

  /*******************************
General styles, Colors, Fonts & links
  ********************************/
	#portfolio, #connect, #footer {
  margin: 150px 0 100px;
}


 	/*******************************
	About
	********************************/

	h1 {
	font-size: 4.25em;
  margin: 0 auto 0px;
  max-width: 750px;
  text-align: left;
}

	.profile-photo {
  float: right;
  width: 20%;
	margin: 0px 50px 80px 7%;

}

.intro {
	padding-top: 40px;

}
#about {
	padding-bottom:0px;
}


}